
<div class="container">
  <h1>Amortization Form</h1>
  <form (ngSubmit)="onSubmit()" #amortForm="ngForm">
    <div class="form-group">
      <label for="startYear">Start Year</label>
      <input type="text"  class="form-control"
         ngControl="startYear" [(ngModel)]="model.startYear" #startYear="ngForm" required>
      <div [hidden]="startYear.valid || startYear.pristine" class="alert alert-danger">
          Start Year is required
      </div>
    </div>
    <div class="form-group">
      <label for="startMonth">Start Month</label>
      <input type="text" class="form-control" ngControl="startMonth" [(ngModel)]="model.startMonth" required>
    </div>
    <div class="form-group">
      <label for="loanAmount">Loan Amount</label>
      <input type="text" class="form-control" ngControl="loanAmount" [(ngModel)]="model.loanAmount" required>
    </div>
    <div class="form-group">
      <label for="depositAmount">Down Payment</label>
      <input type="text" class="form-control" ngControl="depositAmount" [(ngModel)]="model.depositAmount" required>
    </div>
    <div class="form-group">
      <label for="interestRate">Interest Rate</label>
      <input type="text" class="form-control" ngControl="interestRate" [(ngModel)]="model.interestRate" required>
    </div>
    <div class="form-group">
      <label for="loanDuration">No of Years</label>
      <input type="text" class="form-control" ngControl="loanDuration" [(ngModel)]="model.loanDuration" required>
    </div>
    
    <button type="submit" class="btn btn-default" >Submit</button>
  </form>
</div>

<div class="container">
  <app-amort-schedule [amortSchedule]="amortSchedule"></app-amort-schedule>
</div>
